<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil",   root_path %></li>
        <li><%= link_to "Index des corsaires",   corsairs_path %></li>
        <li><%= link_to "Nouveau corsaire", new_corsair_path %></li>
      </ul>
    </nav>
  </div>
</header>